In [1]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-py2.py3-none-any.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-py2.py3-none-any.whl (381 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.1/381.1 kB 5.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [4]:
import mysql
import pandas as pd

# Using python to connect to a MySQL server, execute query, and load into a df

connection = mysql.connector.connect(host,port,user,password,database)
# Cursor
cursor = connection.cursor()

# QUERY
query = '''
SELECT col1,col2
FROM sometable
WHERE col1 == somevalue
'''

# execute query
cursor.execute(query)

# get the records
rows = cursor.fetchall()
row = cursor.fetchone()
columns = [col[0] for col in cursor.description]
connection.close()

# load in df
df = pd.DataFrame(rows,columns=columns)

# Writing queries that handle variables

In [6]:
query = '''
SELECT *
FROM sometable
WHERE DATE > {date}
LIMIT {n}
'''

In [8]:
print(query.format(date='2023-01-01',n=3))

SELECT *
FROM sometable
WHERE DATE > 2023-01-01
LIMIT 3

Question 1:
You have a table called employees with the following columns:

employee_id (INT)
name (VARCHAR)
department (VARCHAR)
salary (FLOAT)
Write a query to fetch:

All unique department names from the employees table.
Sort the result alphabetically.

SELECT DISTINCT department
FROM employees
ORDER BY 1 ASC

SELECT salary, name, department
FROM employees
ORDER BY 1 DESC
LIMIT 3


# get top 2 salaries per dept
SELECT
FROM employees e
RANK